@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.page {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	min-width: 1100px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.logo {
	width: 228px;
	height: 32px;
}

.logo_place_header {
	position: absolute;
	top: 30px;
	left: 64px;
	z-index: 5;
}

.header {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	height: 100vh;
	min-height: 600px;
	max-height: 756px;
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
}

.header__title {
	width: 730px;
	margin: 0 0 0 64px;
	line-height: 96px;
	font-size: 102px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

.header__subtitle {
	width: 388px;
	margin: 0;
	position: absolute;
	left: 64px;
	bottom: 30px;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
	z-index: 3;
}

.header__link {
	color: #2f80ed;
	text-decoration: none;
	z-index: 4;
}

.header__link:hover {
	opacity: 0.5;
	transition: linear 0.1s;
	text-decoration: none;
}

.header__main-illustration {
	width: 765px;
	height: 608px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.header__square-pic {
	width: 568px;
	height: 568px;
	background-color: #2f80ed;
	position: absolute;
	top: 64px;
	right: 0;
	z-index: 0;
}

.rotation {
	animation: rotation 20s infinite normal linear;
}

.content {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.description {
	margin: 0 auto;
	padding: 100px 0 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.two-columns {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.two-columns__brief {
	margin: 0;
	width: 175px;
	color: #2f80ed;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.two-columns__main-text {
	width: 80%;
	min-width: 784px;
}

.two-columns__paragraph {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

.two-columns__paragraph:nth-child(even) {
	margin: 30px 0;
}

.two-columns__span-accent {
	line-height: 34px;
	font-size: 24px;
	font-weight: 600;
}

.techniques {
	width: 80%;
	margin:0 auto;
	padding: 100px 0 0;
}

.cards {
	margin: 0 auto;
	padding: 0;
	border: none;
	width: 920px;
	display: grid;
	justify-content: space-evenly;
}

.card {
	margin: 0 auto;
	padding: 0;
	display: grid;
    grid-template-columns: repeat(3,3fr);
	grid-template-rows: repeat(2,3fr);
	align-items: self-start;
}

.card__item {
	margin: 0 100px 0 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	justify-items: center;
}

.card__item:nth-of-type(3) {
	margin: 0;
}

.card__image {
	width: 160px;
	height: 160px;
	margin: 60px 40px 43px;
	padding: 0;
	border-radius: 50%;
	display: block;
}

.card__title {
	margin: 0 0 16px;
	padding: 0;
	line-height: 1.15;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.card__description {
	margin: 0 auto auto;
	padding: 0;
	line-height: 23px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}

.video {
	width: 100%;
	padding: 100px 0 0;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: -60px;
	page-break-before: avoid;
}

.video__iframes {
	margin: 50px auto 0;
	padding: 0;
}

.video__iframe {
	margin: 0 20px 0 0;
	padding: 0;
}

.video__iframe:last-of-type {
	margin: 0;
}

.oakley {
	margin: 0 auto;
	padding: 160px 0 0;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

.feynman {
	width: 100%;
	padding: 0;
	min-height: 890px;
	background-color: #f2f2f2;
	position: relative;
	margin: 0 auto;
}

.feynman__title {
	width: 648px;
	margin: 100px auto auto;
	line-height: 1.15;
	font-size: 120px;
	font-weight: 600;
	text-align: center;
	position: relative;
	z-index: 2;
}

.feynman__subtitle {
	margin: 70px auto auto;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	position: relative;
	z-index: 1;
}

.feynman__link {
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-decoration: none;
	color: #2f80ed;
	position: absolute;
	top: 50%;
	right: 48px;
	z-index: 3;
}

.feynman__link:hover {
	opacity: 0.5;
	transition: linear 0.1s;
	text-decoration: none;
}

.feynman__img {
	width: 867px;
	height: 637px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto auto 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
}

.digits {
	margin: 0 auto;
	padding: 100px 0;
	height: 100%;
	width: 100%;
}

.section-title {
	margin:  0 auto;
	width: 60%;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
}

.section-subtitle {
	margin: 20px auto 0;
	width: 60%;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.table {
	margin: auto;
	width: 1100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.table__cell {
	width: 250px;
	margin: 60px 0 0;
}

.table__heading {
	margin: 0;
	line-height: 1.15;
	font-size: 24px;
	font-weight: 600;
}

.table__text {
	margin: 20px auto 0;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.khan {
	margin: 0 auto;
	padding: 105px 0 0;
	width: 100%;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
}

.khan__container {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.khan__author {
	width: 100%;
	margin: 0;
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
}

.khan__title {
	width: 100%;
	margin: 0;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
}

.khan__quote {
	margin: 50px auto 36px 0;
	width: 790px;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.khan__quote-author {
	width: 100%;
	margin: 0;
	line-height: 1.15;
	font-size: 24px;
	font-weight: 600;
}

.khan__quote-author-subline {
	margin: 10px 0 68px;
	width: 100%;
	line-height: 1.15;
	font-size: 24px;
	font-weight: normal;
}

.khan__book-container {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.khan__book-pic {
	margin: 0 48px 0 0;
	padding: 0;
	width: 620px;
	height: 608px;
    object-fit: cover;
    object-position: left top;
	overflow: hidden;
}

.khan__buy-link {
	margin: 0;
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	color: #2f80ed;
	display: inline-block;
    height: min-content;
}

.khan__buy-link:hover {
	opacity: 0.5;
	transition: linear 0.1s;
	text-decoration: none;
}

.kaufman {
	width: 100%;
	margin: auto;
	padding: 90px 0;
	background-color: #1f1f1f;
	overflow: hidden;
	position: relative;
}

.section-title_theme_dark {
	color: #ffffff;
	position: relative;
	z-index: 4;
}

.section-subtitle_theme_dark {
	color: #ffffff;
	position: relative;
	z-index: 3;
}

.table_theme_dark {
	z-index: 2;
}

.table__cell_theme_dark {
	width: 200px;
	margin: 80px 0 0;
	z-index: 1;
}

.table__heading_theme_dark {
	color: #ffffff;
}

.table__text_theme_dark {
	color: #ffffff;
}

.kaufman__triangle {
	width: 877px;
	height: 877px;
	background-image: url(../images/kaufman-triangle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: -210px;
	z-index: 0;
}

.resources {
	width: 100%;
	margin: 0 auto;
	padding: 100px 0 0;
}

.resources__logo-zone {
	margin: 80px auto 217px;
	width: 1100px;
	display: flex;
	flex-direction: row;
	flex-basis: content;
	justify-content: center;
}

.resources__logo {
	background-repeat: no-repeat;
	background-size: cover;
	width: 270px;
	height: 38px;
	margin: 0;
	padding: 0;
}

.resources__link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.resources__link:hover {
	opacity: 0.5;
	transition: linear 0.1s;
	text-decoration: none;
}

.footer {
	box-sizing: border-box;
	padding: 60px 0 40px;
	margin: 0 auto 0 auto;
	background-color: #1f1f1f;
	min-height: 350px;
	width: 100%;
	display: flex;
}

.footer__columns {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.footer__column_content_copyright {
	flex-basis: 711px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__author {
	margin: 18px auto 18px 0;
	color: #ffffff;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column-links {
	margin: 20px 0 16px;
	padding: 0;
	list-style: none;
}

.footer__column_content_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer__column_content_social {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.footer__column-heading {
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	margin: 0;
}

.footer__column-link {
	margin: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.footer__column-link:hover {
	text-decoration: none;
	opacity: 0.5;
	transition: linear 0.1s;
}

.footer__social-icon {
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	padding: 0 10px 0 0;
	margin: 0;
}